<!doctype html>
<html lang="en">
  <head>
    <%- include('shared/includes/meta') %> <%- include('shared/includes/styles')
    %> <%- include('shared/includes/leafletstyles') %>
    <title>MyParkSpot - Map</title>
  </head>
  <body>
    <div class="relative z-10"><%- include('shared/partials/header') %></div>
    <div id="map" class="relative z-0"></div>
    <%- include('shared/includes/leafletscripts') %>
    <script>
      const map = L.map('map', {
        attributionControl: false,
        zoomControl: false,
        worldCopyJump: true,
        maxBoundsViscosity: 1.0,
      }).setView([43.3209, 21.8958], 14);

      L.tileLayer(
        'https://{s}.basemaps.cartocdn.com/rastertiles/voyager/{z}/{x}/{y}{r}.png',
        {
          subdomains: 'abcd',
          maxZoom: 20,
          minZoom: 2,
          opacity: 0.9,
          detectRetina: true,
        }
      ).addTo(map);

      L.control
        .attribution({
          position: 'bottomleft',
          prefix: false,
        })
        .addAttribution('Leaflet | &copy; OpenStreetMap &copy; CARTO')
        .addTo(map);

      L.control
        .zoom({
          position: 'topleft',
        })
        .addTo(map);

      L.control
        .fullscreen({
          position: 'topright',
          title: 'View Fullscreen',
          titleCancel: 'Exit Fullscreen',
        })
        .addTo(map);

      L.control
        .locate({
          position: 'topright',
          flyTo: true,
          strings: {
            title: 'Show me where I am',
          },
        })
        .addTo(map);

      const parkingIconHtml =
        '<i class="fa-sharp-duotone fa-regular fa-circle-parking" style="font-size: 30px; color: #669c35;"></i>';
      const reservedParkingIconHtml =
        '<i class="fa-sharp-duotone fa-regular fa-circle-parking" style="font-size: 30px; color: red;"></i>';

      const parkingIcon = L.divIcon({
        html: parkingIconHtml,
        className: 'custom-div-icon',
        iconSize: [30, 30],
        iconAnchor: [15, 30],
        popupAnchor: [0, -30],
      });

      const reservedParkingIcon = L.divIcon({
        html: reservedParkingIconHtml,
        className: 'custom-div-icon',
        iconSize: [30, 30],
        iconAnchor: [15, 30],
        popupAnchor: [0, -30],
      });

      const parkingSpots = [
        { name: 'Parking Centar', type: 'Free', lat: 43.3215, lng: 21.8954 },
        { name: 'Kalča Parking', type: 'Reserved', lat: 43.3198, lng: 21.8962 },
        { name: 'Niška Tvrđava', type: 'Free', lat: 43.321, lng: 21.9 },
        {
          name: 'Zona II - Bulevar',
          type: 'Reserved',
          lat: 43.3176,
          lng: 21.9032,
        },
        { name: 'Kej Parking', type: 'Free', lat: 43.3242, lng: 21.8921 },
        { name: 'Čair Parking', type: 'Free', lat: 43.3149, lng: 21.9058 },
        { name: 'Delta Planet', type: 'Reserved', lat: 43.3132, lng: 21.9175 },
        {
          name: 'Parking Železnička Stanica',
          type: 'Free',
          lat: 43.3065,
          lng: 21.8843,
        },
        {
          name: 'Parking Železnička Stanica 2',
          type: 'Free',
          lat: 43.3068,
          lng: 21.8843,
        },
        { name: 'Medijana', type: 'Reserved', lat: 43.3121, lng: 21.9178 },
        { name: 'Parking Pantelej', type: 'Free', lat: 43.33, lng: 21.8974 },
      ];

      const markers = L.markerClusterGroup({
        showCoverageOnHover: false,
      });

      parkingSpots.forEach(spot => {
        const marker = L.marker([spot.lat, spot.lng], {
          icon: spot.type === 'Free' ? parkingIcon : reservedParkingIcon,
        }).bindPopup(`<strong>${spot.name}</strong><br>Type: ${spot.type}`);
        markers.addLayer(marker);
      });

      map.addLayer(markers);
    </script>

    <%- include('shared/includes/scripts') %>
  </body>
</html>
