<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - Add Funds</title>
    <%- include('../../shared/includes/meta') %> <%-
    include('../../shared/includes/styles') %>
  </head>
  <body class="bg-background">
    <%- include('../../shared/partials/header') %>
    <main class="min-h-screen p-0 sm:p-4">
      <div class="mx-auto flex w-full max-w-5xl flex-col md:flex-row">
        <%- include('./partials/aside.ejs') %>
        <section class="w-full space-y-6 p-6 md:w-9/12">
          <h1 class="mb-4 font-serif text-2xl font-medium md:mb-6">
            Add Funds
          </h1>
          <div class="flex w-full flex-col items-start rounded-lg p-4 sm:w-3/4">
            <form
              action="/client/payments/funds/add"
              method="POST"
              class="w-full space-y-4">
              <div>
                <h2 class="block text-sm font-medium text-gray-900">
                  Choose your payment method
                </h2>
                <div class="mt-1 grid grid-cols-2 gap-4">
                  <div
                    class="payment-option flex transform cursor-pointer flex-col justify-center rounded-lg border border-gray-300 p-4 text-center shadow-sm transition-transform hover:scale-102"
                    data-value="stripe">
                    <img
                      src="https://hostbillapp.com/appstore/payment_stripe/images/thumbnails/m_logo.png"
                      class="mx-auto w-20"
                      alt="Stripe" />
                  </div>
                  <div
                    class="payment-option flex transform cursor-pointer flex-col justify-center rounded-lg border border-gray-300 p-4 text-center shadow-sm transition-transform hover:scale-102"
                    data-value="paypal">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/a/a4/Paypal_2014_logo.png"
                      class="mx-auto w-20"
                      alt="PayPal" />
                  </div>
                </div>
                <input type="hidden" id="paymentMethod" name="paymentMethod" />
              </div>
              <div class="relative">
                <label
                  for="amount"
                  class="block text-sm font-medium text-gray-900"
                  >Amount</label
                >
                <div class="relative mt-1 rounded-md shadow-sm">
                  <input
                    type="number"
                    step="0.01"
                    id="amount"
                    name="amount"
                    min="5"
                    max="1000000"
                    required
                    class="text-md block w-full rounded-full border border-gray-300 py-2 pl-4 pr-8 shadow-sm" />
                  <div
                    class="pointer-events-none absolute inset-y-0 right-0 flex items-center pr-3">
                    <i class="fa-solid fa-euro-sign"></i>
                  </div>
                </div>
              </div>
              <div class="flex justify-end">
                <button
                  type="submit"
                  class="btn-sm btn mt-2 w-1/3 transform rounded-full border bg-primary px-2 py-2 font-medium text-white transition duration-300 ease-in-out hover:scale-105 sm:px-6">
                  Add
                </button>
              </div>
            </form>
          </div>
        </section>
      </div>
    </main>
    <script>
      const paymentOptions = document.querySelectorAll('.payment-option');
      const paymentMethodInput = document.getElementById('paymentMethod');

      paymentOptions.forEach(option => {
        option.addEventListener('click', () => {
          paymentOptions.forEach(opt => opt.classList.remove('border-primary'));
          option.classList.add('border-primary');
          paymentMethodInput.value = option.getAttribute('data-value');
        });
      });
    </script>
    <%- include('../../shared/includes/scripts') %>
  </body>
</html>
