<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - My Cars</title>
    <%- include('../../shared/includes/meta') %> <%-
    include('../../shared/includes/styles') %>
  </head>
  <body class="bg-background">
    <%- include('../../shared/partials/header') %>
    <main class="min-h-screen p-0 sm:p-4">
      <div class="mx-auto flex w-full max-w-5xl flex-col md:flex-row">
        <%- include('./partials/aside.ejs') %>
        <section class="w-full space-y-6 p-6 md:w-9/12">
          <h1 class="mb-4 font-serif text-2xl font-medium md:mb-6">My Cars</h1>
          <div class="grid grid-cols-1 gap-6 md:grid-cols-12">
            <% cars.forEach(function(car) { %>
            <div class="group relative col-span-6 rounded-lg border p-8">
              <a
                href="/client/delete-car/<%= car.id %>"
                class="absolute right-2 top-2 opacity-0 transition-opacity group-hover:opacity-100">
                <i class="fa-light fa-trash"></i>
              </a>
              <p class="text-xl font-semibold text-gray-900">
                <%= car.licensePlate %>
              </p>
              <p class="font-sans text-sm text-gray-700">
                <%= car.manufacturer %> <%= car.model %> <% if (car.year) { %>
                (<%= car.year %>) <% } %>
              </p>
            </div>
            <% }); %>
          </div>
          <div class="mt-6 flex justify-end">
            <a
              href="/client/register-car"
              class="btn-sm btn transform rounded-full border bg-primary px-6 py-2 font-medium text-white transition duration-300 ease-in-out hover:scale-105">
              Register Car
            </a>
          </div>
        </section>
      </div>
    </main>
    <%- include('../../shared/includes/scripts') %>
  </body>
</html>
