<!doctype html>
<html lang="en">
  <head>
    <title>MyParkSpot - Register Car</title>
    <%- include('../../shared/includes/meta') %> <%-
    include('../../shared/includes/styles') %>
  </head>
  <body class="bg-background">
    <%- include('../../shared/partials/header') %>
    <main class="min-h-screen p-0 sm:p-4">
      <div class="mx-auto flex w-full max-w-5xl flex-col md:flex-row">
        <%- include('./partials/aside.ejs') %>
        <section class="w-full space-y-6 p-6 md:w-9/12">
          <h1 class="mb-4 font-serif text-2xl font-medium md:mb-6">
            Register Car
          </h1>
          <form action="/client/register-car" method="POST">
            <input type="hidden" name="userId" value="<%= user.id %>" />
            <div class="grid grid-cols-1 gap-6 md:grid-cols-12">
              <div class="col-span-6">
                <label class="block text-sm font-medium text-gray-900"
                  >License Plate</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    id="licensePlate"
                    name="licensePlate"
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm sm:text-sm"
                    required />
                </div>
              </div>
              <div class="col-span-6">
                <label class="block text-sm font-medium text-gray-900"
                  >Manufacturer</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    id="manufacturer"
                    name="manufacturer"
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm sm:text-sm" />
                </div>
              </div>
              <div class="col-span-6">
                <label class="block text-sm font-medium text-gray-900"
                  >Model</label
                >
                <div class="mt-2">
                  <input
                    type="text"
                    id="model"
                    name="model"
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm sm:text-sm" />
                </div>
              </div>
              <div class="col-span-6">
                <label class="block text-sm font-medium text-gray-900"
                  >Year</label
                >
                <div class="mt-2">
                  <input
                    type="number"
                    id="year"
                    name="year"
                    class="block w-full rounded-full border border-gray-300 px-4 py-2 shadow-sm sm:text-sm" />
                </div>
              </div>
            </div>
            <div class="mt-6 flex justify-end">
              <button
                type="submit"
                class="btn-sm btn transform rounded-full border bg-primary px-6 py-2 font-medium text-white transition duration-300 ease-in-out hover:scale-105">
                Register Car
              </button>
            </div>
          </form>
        </section>
      </div>
    </main>
    <%- include('../../shared/includes/scripts') %>
  </body>
</html>
